@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.passwordField {
  margin-bottom: $spacing-lg;

  @include mobile {
    margin-bottom: $spacing-md;
  }

  :global(.ant-form-item-label) {
    text-align: left;
    padding-bottom: $spacing-xs;

    label {
      font-size: 14px;
      font-weight: $font-weight-medium;
      color: $text-primary;
      height: auto;

      &::before {
        display: none !important;
      }
    }
  }

  :global(.ant-form-item-control) {
    width: 100%;
  }

  :global(.ant-input-password) {
    border-radius: $border-radius-sm;
    
    &:focus,
    &:hover {
      border-color: $primary-color;
    }
  }
}
